<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>Splurty was built by <a target="_blank" href="http://github.com/rkerian">Ryan Kerian</a> as part of the <a target="_blank" href="http://www.thefirehoseproject.com">Firehose Project</a>
  </p>
  <br />

<div class="col-xs-12-offset-1 col-sm-4-offset-1">
  <%= image_tag 'rmk.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7">
  <h2 class="text-center">Ryan Kerian</h2>
  <br />
  <p>
  Ryan Kerian is an aspiring web developer and recovering lawyer.
  </p>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
</div>